
.navBar  .navbar-default{
	height: 70px;
	background:transparent !important;;
	border:0;
	margin-bottom:0;
	color:white;
}

.navBar .navbar-default .navbar-brand{
  color:white;
}
.navBar .navbar-header img{
	height:70px;
}

.navBar .navbar-right>li > a{
	font-size:20px;
	color: #f8f8f8;
}
.navBar .navbar-right > li>a:hover{
	color:white;
	font-weight:600;
}